* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* large version*/

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}
.flex-between {
    justify-content: space-between;
}

.flex-col {
    flex-direction: column;
}

.container-big {
    width: 95%;
    margin: 0 auto;
}

.container {
    width: 65%;
    margin: 0 auto;
}

:root {
    --main-accent-color: white;
    --secondary-accent-color: #a3a3a3;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 230px;
    height: calc(100vh - 100px);
    background-color: black;
}

main {
    overflow-y: scroll;
    width: calc(100% - 230px);
    height: calc(100vh - 100px);
    background-color: #141922;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #282828;
}

p {
    color: var(--secondary-accent-color);
    margin-top: 1rem;
}

a {
    text-decoration: none;
    color: var(--secondary-accent-color);
}

#banner {
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #080b12;
    color: var(--main-accent-color);
}

.upgrade-btn {
    text-transform: uppercase;
    font-size: large;
    color: var(--main-accent-color);
    background-color: #080b12;
    border: 2px white solid;
    border-radius: 50px;
    padding: .5rem 1.5rem;
    margin-right: .5rem;
}

.tiers-nav {
    margin: 1.5rem 0 2.5rem 0;
}

.tiers-nav ul {
    justify-content: center;
}

.tiers-nav li {
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--secondary-accent-color);
    margin: .5rem;
}

main h2 {
    font-size: xx-large;
    font-weight: 900;
    color: var(--main-accent-color);
}

.cards {
    margin: 2.5rem 0;
}

.card {
    width: calc(100% / 6 - 1rem);
    text-align: center;
    margin: 0 1rem 1rem 0;
}

.card img {
    max-width: 100%;
}

.card-info {
    margin-top: 1rem;
}

.card-info h3 {
    font-size: 1.25rem;
    color: var(--main-accent-color);
}

#most-popular .card-img {
    overflow: hidden;
    border-radius: 50%;
}

#links,
#my-profile {
    padding: 1rem;
}

.logo-big {
    width: 80%;
}

.logo-small {
    display: none;
}

.section-nav {
    margin-top: 1rem;
}

header i {
    font-size: 1.5rem;
    margin-right: .3rem;
}

#links li {
    margin-top: .8rem;
}

.playlist h3 {
    text-transform: uppercase;
    color: var(--main-accent-color);
    margin-top: 1rem;
}

.playlist i {
    font-size: 3rem;
    vertical-align: middle;
}

#my-profile {
    font-size: .8rem;
}

.download-app {
    color: var(--secondary-accent-color);
    border-bottom: 1px var(--secondary-accent-color) solid;
    padding-bottom: .5rem;
}

.download-app i {
    font-size: .8rem;
}

.account {
    font-size: .9rem;
    font-weight: bold;
    color: var(--main-accent-color);
    margin-top: .75rem;
}

.account i {
    vertical-align: middle;
}



/* RESPONSIVE */

/* medium version */
@media screen and (max-width: 992px) {
    main h2 {
        font-size: x-large;
    }

    .card {
        width: calc(100% / 4 - 1rem);
    }

    .card-info h3 {
        font-size: 1rem;
    }

}

/* small version */
@media screen and (max-width:768px) {
    .card {
        width: calc(100% / 2 - 1rem);
    }
}

/* xs version */
@media screen and (max-width: 576px) {
    header {
        width: 70px;
    }

    main {
        width: calc(100% - 70px);
    }

    .logo-big {
        display: none;
    }

    .logo-small {
        display: block;
    }

    .link {
        display: none;
    }

    .playlist {
        display: none;
    }

    .download-app {
        text-align: center;
        border-bottom: none;
    }
}